@font-face {
    font-family: 'Fira Mono';
    src: url(../fonts/fira-mono-latin-500-normal.woff2);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fira Mono', sans-serif;
}

body {
    background: linear-gradient(135deg, light#7aa2f7, royalblue);
    background: linear-gradient(135deg, black, #0f2751);
    color: white;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "head head head"
        "content content content";
    grid-template-rows: 110px auto;
    height: 100vh;
}

body > header {
    grid-area: head;
    background-color: rgba(255, 255, 255, 0.76);
    background-color: transparent;
    /* color: white; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 30px 30px;

    img {
        filter: invert(0);
        width: 54px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        /* border: 4px solid transparent; */
        /* outline: 2px solid royalblue; */
    }

    .logo {
        font-size: 48px;
        color: white;
    }

    .header-info {
        margin-right: auto;
        display: flex;
        gap: 80px;
        align-items: center;

        h1 {
            font-size: 24px;
        }
    }

    .header-user {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
        padding: 8px 16px;
        gap: 16px;

        button {
            font-size: 16px;
            padding: 12px 20px;
            border-radius: 10px;
            background-color: transparent;
            &.login {
                color: royalblue;
            }
            &.register {
                background-color: royalblue;
                color: white;
            }
        }

        .dropdown-btn{
            position: relative;
            display: inline-block;
            margin: 0;
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 12px 20px;
            border-radius: 12px;
            font-size: 20px;

            &:hover, &:active {
                background-color: royalblue;
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            right: 0%;
            top: 100%;
            border-radius: 8px;

            &.show {
                display: block;
            }
        }
        a {
            text-decoration: none;
        }
        .dropdown-content button {
            background-color: transparent;
            color: black;
            color: white;
            padding: 12px 16px;
            display: block;
            border: none;
            width: 100%;
            border-radius: 8px;
        }
        .dropdown-content button:hover {
            background-color: royalblue;
        }
    }
}

main {
    grid-area: content;
    display: flex;
    flex-direction: column;

    &.home {
        /* justify-content: center; */
        align-items: center;
        padding-top: 100px;
        gap: 32px;

        > div {
            text-align: center;
        }

        .home-line {
            font-size: 32px;
        }
        .home-line2 {
            font-size: 20px;
        }
    }
}

.sections-header {
    display: flex;
    gap: 10px;
    padding: 12px 30px;
    font-size: 32px;
}

.empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    p {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 24px;
        color: #aaaaaa;
    }
}
.sections-container {
    flex-grow: 1;
    display: flex;
    /* flex-wrap: wrap; */
    overflow: scroll;
    justify-content: start;
    align-content: start;
    gap: 30px;
    padding: 20px;
    padding-top: 0;
    /* overflow-x: scroll; */
    /* scrollbar-width: none; */

    .section {
        background-color: rgba(255, 255, 255, 0.76);
        background-color: transparent;
        /* box-shadow: 5px 5px 10px #222222; */
        border-radius: 16px;
        /* margin: 10px; */
        width: 400px;
        padding: 16px;

        .section-title {
            font-size: 24px;
        }

        ul {
            padding: 0;
        }
        li {
            /* background-color: white; */
            /* background-color: rgba(255, 255, 255, 0.10); */
            background: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent);
            border-radius: 10px;
            border-left: 6px solid #a9b1d6;
            /* height: 60px; */
            margin: 10px 5px;
            list-style: none;
            display: flex;
            /* justify-content: space-evenly; */
            /* align-items: center; */
            gap: 10px;
            padding: 10px 20px;
            /* box-shadow: 5px 5px 10px #f1f1f1; */

            .complete-btn {
                height: 16px;
                width: 16px;
                background-color: transparent;
                border: 2px solid lightgray;
                border-radius: 4px;
                margin-top: 2px;
            }

            .task {
                display: flex;
                flex-direction: column;
                /* gap: 3px; */
            }

            .task-goal-details {
                padding-top: 5px;
                display: flex;
                gap: 0.5rem;

                .task-goal-date,
                .task-goal-time {
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 8px;
                    padding: 4px;
                    font-size: 14px;
                }
            }

            .task-desc {
                font-size: 12px;
                color: #aaaaaa;
            }

            &:hover {
                outline-style: solid;
                outline-width: 2px;
            }

            &.priority-1 {
                border-color: #f75663;
                outline-color: #f75663;
                background: linear-gradient(to right, rgba(255, 0, 0, 0.3), transparent);
            }
            &.priority-2 {
                border-color: #e5bf58;
                outline-color: #e5bf58;
                background: linear-gradient(to right, rgba(255, 255, 0, 0.3), transparent);
            }
            &.priority-3 {
                border-color: #7aa2f7;
                outline-color: #7aa2f7;
                background: linear-gradient(to right, rgba(0, 0, 255, 0.3), transparent);
            }
            &.completed {
                border: none;
                * {
                    text-decoration: strikethrough;
                }
            }

            > input{
                height: 12px;
                width: 12px;
            }
            button {
                background: none;
                border: none;
                color: white;
                font-size: 18px;
            }

            .task-actions {
                margin-left: auto;
                min-width: 50px;
            }
        }
    }
    .section header {
        display: flex;
        gap: 10px;
        justify-content: space-around;
    }
    .section-title {
        margin-right: auto;
        padding-left: 8px;
    }
}

dialog {
    margin: auto;
    border-radius: 12px;
    padding: 24px;
    width: min(70%, 600px);
    background: linear-gradient(135deg, black, #0f2751);
    color: white;
    border-color: royalblue;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        text-align: center;
        gap: 16px;

        > div {
            /* display: flex; */
        }
    }

    label {
        min-width: 100px;
        font-size: 20px;
        display: block;
    }

    input {
        background-color: black;
        color: white;
        flex-grow: 1;
        display: block;
        border: 2px solid gray;
        border-radius: 8px;
        outline: none;
        height: 40px;
        width: 100%;
        padding: 8px;
        font-size: 20px;

        &:focus {
            border: 2px solid royalblue;
        }
    }

    textarea {
        width: 100%;
        background-color: black;
        color: white;
        border: 2px solid gray;
        border-radius: 8px;
        outline: none;
        padding: 8px;
    }

    fieldset {
        border: none;
        flex-grow: 1;
    }

    #id_priority,
    #update_task_priority {
        display: flex;
        border-radius: 8px;

        > div {
            flex-grow: 1;
            border: 2px solid lightgray;
            border-left: none;
            width: calc(100%/4);

            label {
                padding: 8px;
            }
            padding: auto;

            &:first-child {
                border-left: 2px solid lightgray;
                border-radius: 12px 0 0 12px;
            }
            &:last-child {
                border-radius: 0 12px 12px 0;
            }

            &:has(input:checked) {
                color: black;
            }
            &:has(input:checked[value='1']) {
                background-color: #f75663;
                border-color: #f75663;
            }
            &:has(input:checked[value='2']) {
                background-color: #e5bf58;
                border-color: #e5bf58;
            }
            &:has(input:checked[value='3']) {
                background-color: #7aa2f7;
                border-color: #7aa2f7;
            }
            &:has(input:checked[value='4']) {
                background-color: #a9b1d6;
                border-color: #a9b1d6;
            }

            input[type='radio'] {
                display: none;
            }
        }
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    input[type=number] {
        -moz-appearance:textfield;
    }

    .dialog-action-buttons {
        display: flex;
        gap: 16px;

        button {
            flex-grow: 1;
            color: royalblue;
            padding: 6px 24px;
            border-radius: 10px;
            border: 2px solid royalblue;
            font-size: 20px;
            width: calc((100% - 40px)/2);

            &.primary {
                background-color: royalblue;
                color: white;
            }
        }
    }

}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

button {
    background-color: transparent;
    border: none;
}

img {
    width: 20px;
    color: white;
    filter: invert();
}

.sections-header img {
    width: 30px;
}

hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, #a9b1d6, transparent);
    margin-top: 5px;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        text-align: center;
        gap: 16px;
        padding: 16px 24px;

        > div {
            /* display: flex; */
        }
        button {
            flex-grow: 1;
            color: royalblue;
            padding: 6px 24px;
            border-radius: 10px;
            border: 2px solid royalblue;
            font-size: 20px;

            &.primary {
                background-color: royalblue;
                color: white;
            }
        }

        label {
            min-width: 100px;
            font-size: 20px;
            display: block;
        }

        input {
            background-color: black;
            color: white;
            flex-grow: 1;
            display: block;
            border: 2px solid gray;
            border-radius: 8px;
            outline: none;
            height: 40px;
            width: 100%;
            padding: 8px;
            font-size: 20px;

            &:focus {
                border: 2px solid royalblue;
            }
        }

        textarea {
            width: 100%;
            background-color: black;
            color: white;
            border: 2px solid gray;
            border-radius: 8px;
            outline: none;
        }

        fieldset {
            border: none;
            flex-grow: 1;
        }

        a {
            color: royalblue;
        }
    }
}

.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
        padding: auto;
    }
}

img.avatar {
    width: 128px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    filter: invert(0);
}

h2 {
    font-size: 42px;
}
.primary {
    background-color: royalblue;
    color: white;
    padding: 6px 24px;
    border-radius: 10px;
    border: 2px solid royalblue;
    font-size: 20px;
}

span.blue {
    color: royalblue;
    font-size: 56px
    /* letter-spacing: -50px; */
}
