{% extends 'base.html' %}

{% block content %}

<main>
    <div class="form-container">
        <form method="POST" class="card">
            {% csrf_token %}
            <h2>Password Reset Confirm</h2>

            {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <small>{{ field.errors|striptags }}</small>
            {% endif %}
            {% endfor %}
            <div>
                <button type="submit" class="btn primary">Reset Password</button>
            </div>
        </form>
    </div>
</main>

{% endblock content %}
